<a href="https://colab.research.google.com/github/PuttupuR/My-Project/blob/main/Telephone_Directory_CRUD_OperationCRUD_Operation_using_TelePhone_Dirctory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install dnspython
!pip install pymongo[srv]

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: dnspython in /usr/local/lib/python3.8/dist-packages (2.2.1)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.8/dist-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.8/dist-packages (from pymongo[srv]) (2.2.1)

In [2]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://rajee:12345@cluster0.uodsc.mongodb.net/?retryWrites=true&w=majority")
db = client.Mongodb_Task
record = db.Telephone_Directory
# insert_one
data = { "Name":"ElonMusk", "Phone_number": 9889054310, "Place": "USA" }
record.insert_one(data)

In [3]:
#Insert_many

directory  = [
    
           {"Name":"Rajee", "Phone_number": 9951311989, "Place": "Vijayawada"},
           {"Name":"Rupa", "Phone_number": 7416745029, "Place": "Benglore"},
           {"Name": "Rani", "Phone_number": 8498812128, "Place": "Hyderabad"},
           {"Name":"Gowri", "Phone_number": 9097096789, "Place": "Mysore"},
           {"Name":"Satyanarayana", "Phone_number": 7676893454, "Place": "Pune"}
    
]

insertion = record.insert_many(directory)

print(insertion.inserted_ids)

[ObjectId('63a7ecd9c225040de7def3d0'), ObjectId('63a7ecd9c225040de7def3d1'), ObjectId('63a7ecd9c225040de7def3d2'), ObjectId('63a7ecd9c225040de7def3d3'), ObjectId('63a7ecd9c225040de7def3d4')]

In [ ]:
# Retriving the database

for data in record.find({},{'_id': False}):
    print(data)

In [6]:
# Retriving the Specific data

for data in record.find({'Name':'Rajee'},{'_id':False}):
  print(data)

{'Name': 'Rajee', 'Phone_number': 9951311989, 'Place': 'Vijayawada'}

In [7]:
# Retriving using multiple condition

query = {'$or':[{'Place':'Vijayawada'},{'Place':'Bangalore'}]}

for data in record.find(query,{'_id':False}):
    print(data)

{'Name': 'Rajee', 'Phone_number': 9951311989, 'Place': 'Vijayawada'}

In [8]:
# Updating files

# update_one

my_query = {'Name':'Rajee','Name': 'ElonMusk'}

new_values = {'$set':{'Name':'Raji','Name': 'Venky'}}

record.update_one(my_query,new_values)

for datas in record.find({},{'_id':False}):
    print(datas)

{'Name': 'Venky', 'Phone_number': 9889054310, 'Place': 'USA'}
{'Name': 'ElonMusk', 'Phone_number': 9889054310, 'Place': 'USA'}
{'Name': 'Rajee', 'Phone_number': 9951311989, 'Place': 'Vijayawada'}
{'Name': 'Rupa', 'Phone_number': 7416745029, 'Place': 'Benglore'}
{'Name': 'Rani', 'Phone_number': 8498812128, 'Place': 'Hyderabad'}
{'Name': 'Gowri', 'Phone_number': 9097096789, 'Place': 'Mysore'}
{'Name': 'Satyanarayana', 'Phone_number': 7676893454, 'Place': 'Pune'}

In [10]:
#Delete_one

my_query = {'Place': 'USA'}

record.delete_one(my_query)

for datas in record.find({},{'_id':False}):
    print(datas)

{'Name': 'ElonMusk', 'Phone_number': 9889054310, 'Place': 'USA'}
{'Name': 'Rajee', 'Phone_number': 9951311989, 'Place': 'Vijayawada'}
{'Name': 'Rupa', 'Phone_number': 7416745029, 'Place': 'Benglore'}
{'Name': 'Rani', 'Phone_number': 8498812128, 'Place': 'Hyderabad'}
{'Name': 'Gowri', 'Phone_number': 9097096789, 'Place': 'Mysore'}
{'Name': 'Satyanarayana', 'Phone_number': 7676893454, 'Place': 'Pune'}

In [11]:
# Delete_many

my_query={"Name":"ElonMusk"}

record.delete_many(my_query)

for i in record.find({},{"_id":False}):
  print(i)

{'Name': 'Rajee', 'Phone_number': 9951311989, 'Place': 'Vijayawada'}
{'Name': 'Rupa', 'Phone_number': 7416745029, 'Place': 'Benglore'}
{'Name': 'Rani', 'Phone_number': 8498812128, 'Place': 'Hyderabad'}
{'Name': 'Gowri', 'Phone_number': 9097096789, 'Place': 'Mysore'}
{'Name': 'Satyanarayana', 'Phone_number': 7676893454, 'Place': 'Pune'}